.container{
    text-align: center;
    margin-top: 23px;
}

table{
    margin: auto;
}

input{
    border-radius: 18px;
    border: 4px solid black;
    font-size: 30px;
    text-align: right;
}

button{
    border-radius: 19px;
    font-size: 32px;
    background-color: #d5dee3;
    width: 87px;
    height: 47px;
}

.calculator{
    background-color: #345e6a;
    padding: 15px;
    border-radius: 31px;
    display: inline-block;
}

